<!DOCTYPE html>
<html>
  <head>
    <title>Catherine Nguyen-Cat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <header>

<input id="burger" type="checkbox" />

<label for="burger">
    <span></span>
    <span></span>
    <span></span>
</label>

<nav>
  <ul class="burger_menu">
    <li>
      <a href="/" class="nav-link">Home</a>
    </li>
    <li>
      <a href="projects" class="nav-link">Projects</a>
    </li>
    <li>
      <a href="experiments" class="nav-link">Experiments</a>
    </li>
  </ul>
</nav>
<!--/.Navbar-->
    <!-- <nav class="top-nav"> -->
<!--       <div class="burger">
        <button class="hamburger">&#9776;</button>
        <button class="cross">&#735;</button>
      </div> -->


<!--
      <ul class="nav-list">
        <li>
          <a href="/" class="nav-link">Home</a>
        </li>
        <li>
          <a href="projects" class="nav-link">Projects</a>
        </li>
          <li>
          <a href="experiments" class="nav-link">Experiments</a>
        </li>
      </ul> -->

<!--       <div class="menu">
        <ul class="nav_hamburger">
          <li>
            <a href="/" class="nav-link">Home</a>
          </li>
          <li>
            <a href="projects" class="nav-link">Projects</a>
          </li>
            <li>
            <a href="experiments" class="nav-link">Experiments</a>
          </li>
        </ul>
      </div>
    </nav> -->
  </header>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
